#global{
    margin-left: 0 auto;
    margin-right: 0 auto;
}
body{
    font-family: 'Courier New', Courier, monospace;
    width: 100% auto;
    height: 100% auto;
    margin:0 auto;
    padding:0 auto;
    background: url(../media/fond/poke.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

#soleil:hover{
    filter: drop-shadow(2px 2px 1px  rgb(165, 162, 19));
}
h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 10px  black);
}
nav div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav div a{
    display: flex;
}
.hov a:hover{
    
    filter: drop-shadow(20px -10px 4px #4444dd);
}

footer{
    display: flex;
    position:absolute;
    top: 90%;
    margin: 0 auto;
    padding: 0 auto;
}
footer div{
    display: flex;
    padding: 5px;
}
footer div a{
    margin: 2px;
}
footer #copy{
    font-size: 1rem;
    color: white;
    text-align: center;
    padding-left: 5px;
}
#logo{
    width: 100% auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}