#global{
    margin-left: 0 auto;
    margin-right: 0 auto;
}
body{
    font-family: 'Courier New', Courier, monospace;
    width: 100% auto;
    height: 100% auto;
    margin:0 auto;
    padding:0 auto;
    background: url(../media/fond/poke.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
}
.titreso{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}
#soleil:hover{
    filter: drop-shadow(2px 2px 1px  rgb(165, 162, 19));
}
header h1 img{
    filter: drop-shadow(0px 0px 10px  black);
}
footer{
    display: flex;
    position: sticky;
}
footer div{
    display: flex;
    padding: 5px;
}
footer div a{
    margin: 2px;
}
footer #copy{
    font-size: 1rem;
    color: white;
    text-align: center;
    padding-left: 5px;
    font-weight: normal;
}
#logo{
    display: block;
    width: 250px auto;
    margin-left: auto;
    margin-right: auto;
}
#contact{
    text-align: center;
}
#contact #reseau a, #contact #reseau img{
    padding: 5px;
}
div p{
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    filter: drop-shadow(0px 0px 3px   #000000);
}
#tel{
    margin-top: 0;
    margin-bottom: 30px;
}
#imgtel{
    margin-top: 0;
}
.push1{
    height: 100px; 
}
